div { padding: 5px; }
div.container {
	width: 220px;
	border: 2px solid;
	text-align: center;
	border-radius: 10px;
	box-shadow: 3px 3px 2px #50464680;
	background-color: #c0c0c033;
}
div.scherm {
	width: 90%;
	height: auto;
	border: 3px solid black;
	margin: 5px auto;
	min-height: 25px;
	word-wrap: break-word;
	border-radius: 10px;
	background: #76c076b3;
	color: #285020;
	font-weight: bold;
	font-size: 1.3em;
}
button { width: 50px; height: 30px; box-shadow: 2px 1px 3px #50464680; border-radius: 10px; font-weight: bold;}
button.clear, button.calculate { width: 104px; }
button.number { background-color: #b6cfe680; }
button.operator { background-color: #5350504d; }
button.decimal { background-color: #535050b3; }
button.clear { background-color: #ff3636b3; }
button.calculate { background-color: #45ab45cc; }
button.square { background-color: #5350504d; }
button.square p { margin: 0; font-size: 0.8em; }
